QMainWindow { 
    background-image: url('study_store/background.png'); 
    background-repeat: no-repeat; 
    background-position: center; 
}
#study_store {
    color: #494949; 
    font-size: 52px;
    background-color: rgba(217, 217, 217, 0.25);
    border-radius: 26%;
    padding: 0;
}

#coins {
    font-size: 35px;
    color: #494949;
    letter-spacing: -2px;
    font-weight: bold;
}

#coins_bg{
    font-size: 35px;
    color: #494949;
    letter-spacing: -2px;
    font-weight: bold;
    background-color: rgba(217, 217, 217, 0.25);
    border-radius: 20%; /*border radius cannot be greater than height times 2 apparently*/
   
}

